
  <div class="container">
    <h1>Add User</h1>
  <div class="card bg-info text-white">
        <div class="card-body">
  
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="usr">First Name:</label>
                        <input type="text" class="form-control" id="usrFirstNAme" [(ngModel)]="firstName">
                      </div>
                      <div class="form-group">
                          <label for="usr">Last Name:</label>
                          <input type="text" class="form-control" id="usrLastName" [(ngModel)]="lastName">
                        </div>
                      <div class="form-group">
                        <label for="ph">Ph:</label>
                        <input type="number" class="form-control" id="ph" [(ngModel)]="phoneNumber">
                      </div>
                      <div class="form-group">
                        <label for="empid">Emp Id:</label>
                        <input type="number" class="form-control" id="empid" [(ngModel)]="empid">
                      </div>
                </div>
                <div class="vl"></div>
                <div class="col-sm-5">
                   
                    <div class="form-group">
                        <label for="usr">Git URL:</label>
                        <input type="text" class="form-control" id="gitURL" [(ngModel)]="gitUrl">
                      </div>
  
                          <div class="form-group">
                              <label for="comment">Comment:</label>
                              <textarea class="form-control" rows="5" id="comment" [(ngModel)]="comment"></textarea>
                            </div>
                            <div><button type="button" class="btn btn-light" (click)=add(); style="float: right;" >Add</button> </div>
                            
                  </div>
                </div>
          
            
        </div>
      </div>
  </div>


  <br>

  <div class="row">
      <div class="col-sm-4" *ngFor="let user of usersList">
     

  <div class="card" style="width:400px" >
      <div class="card-body">
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-text">{{user.about}}</p>
        <a href="#" class="btn btn-primary" (click)="showProfile(user);">See Profile</a>
      </div>
    </div>


  </div>
</div>

